In [12]:
# Importing
import pandas as pd
import altair as alt
import numpy as np

from IPython.display import Markdown
from IPython.display import display
from tabulate import tabulate
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn import tree
alt.data_transformers.enable('json')

DataTransformerRegistry.enable('json')

In [27]:
# Load dataset/add columns befor and after1980
dwell_denver = pd.read_csv("dwellings_denver.csv")
dwell_ml = pd.read_csv("dwellings_ml.csv")
dwell_neighborhoods_ml = pd.read_csv("dwellings_neighborhoods_ml.csv")

dwell_ml['during1980'] = (dwell_ml['yrbuilt'] == 1980).astype(int)
dwell_ml['after1980'] = (dwell_ml['yrbuilt'] > 1980).astype(int)

,parcel,abstrprd,livearea,finbsmnt,basement,yrbuilt,totunits,stories,nocars,numbdrm,...,arcstyle_TRI-LEVEL WITH BASEMENT,arcstyle_TWO AND HALF-STORY,arcstyle_TWO-STORY,qualified_Q,qualified_U,status_I,status_V,before1980,during1980,after1980
0,00102-08-065-065,1130,1346,0,0,2004,1,2,2,2,...,0,0,0,1,0,1,0,0,0,1
1,00102-08-073-073,1130,1249,0,0,2005,1,1,1,2,...,0,0,0,1,0,1,0,0,0,1
2,00102-08-078-078,1130,1346,0,0,2005,1,2,1,2,...,0,0,0,1,0,1,0,0,0,1
3,00102-08-081-081,1130,1146,0,0,2005,1,1,0,2,...,0,0,0,1,0,1,0,0,0,1
4,00102-08-086-086,1130,1249,0,0,2005,1,1,1,2,...,0,0,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22908,09154-01-132-132,1130,955,0,0,1998,1,1,0,2,...,0,0,0,1,0,1,0,0,0,1
22909,09154-01-133-133,1130,955,0,0,1998,1,1,0,2,...,0,0,0,1,0,1,0,0,0,1
22910,09154-01-133-133,1130,955,0,0,1998,1,1,0,2,...,0,0,0,0,1,1,0,0,0,1
22911,09154-01-134-134,1130,1219,0,0,1998,1,1,0,3,...,0,0,0,0,1,1,0,0,0,1
22912,09154-01-137-137,1130,1041,0,0,1998,1,1,0,2,...,0,0,0,1,0,1,0,0,0,1

In [34]:
# Train model
X = dwell_ml[['livearea','yrbuilt','arcstyle_ONE-STORY','numbaths']]
y = dwell_ml[['before1980', 'during1980', 'after1980']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3)


classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)

DecisionTreeClassifier()

In [35]:
predictions = classifier.predict(X_test)

score = accuracy_score(y_test, predictions)

score

1.0

In [36]:
predictions

array([[1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       ...,
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0]])