In [11]:
# Importing
import pandas as pd
import altair as alt
import numpy as np

from IPython.display import Markdown
from IPython.display import display
from tabulate import tabulate
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB

pd.set_option('display.max_columns', None)
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [24]:
# Load dataset
dwell_denver = pd.read_csv("dwellings_denver.csv")
dwell_ml = pd.read_csv("dwellings_ml.csv")
dwell_neighborhoods_ml = pd.read_csv("dwellings_neighborhoods_ml.csv")

In [19]:
# Columns
dwll_ml_columns = list(dwell_ml.columns)
dwll_ml_columns.pop(0)
dwll_ml_columns

['abstrprd',
 'livearea',
 'finbsmnt',
 'basement',
 'yrbuilt',
 'totunits',
 'stories',
 'nocars',
 'numbdrm',
 'numbaths',
 'sprice',
 'deduct',
 'netprice',
 'tasp',
 'smonth',
 'syear',
 'condition_AVG',
 'condition_Excel',
 'condition_Fair',
 'condition_Good',
 'condition_VGood',
 'quality_A',
 'quality_B',
 'quality_C',
 'quality_D',
 'quality_X',
 'gartype_Att',
 'gartype_Att/Det',
 'gartype_CP',
 'gartype_Det',
 'gartype_None',
 'gartype_att/CP',
 'gartype_det/CP',
 'arcstyle_BI-LEVEL',
 'arcstyle_CONVERSIONS',
 'arcstyle_END UNIT',
 'arcstyle_MIDDLE UNIT',
 'arcstyle_ONE AND HALF-STORY',
 'arcstyle_ONE-STORY',
 'arcstyle_SPLIT LEVEL',
 'arcstyle_THREE-STORY',
 'arcstyle_TRI-LEVEL',
 'arcstyle_TRI-LEVEL WITH BASEMENT',
 'arcstyle_TWO AND HALF-STORY',
 'arcstyle_TWO-STORY',
 'qualified_Q',
 'qualified_U',
 'status_I',
 'status_V',
 'before1980']

In [21]:
dwell_ml_fil = dwell_ml[dwll_ml_columns]
dwell_ml_fil
# numbaths, arcstyle_TWO-STORY, livearea

,abstrprd,livearea,finbsmnt,basement,yrbuilt,totunits,stories,nocars,numbdrm,numbaths,sprice,deduct,netprice,tasp,smonth,syear,condition_AVG,condition_Excel,condition_Fair,condition_Good,condition_VGood,quality_A,quality_B,quality_C,quality_D,quality_X,gartype_Att,gartype_Att/Det,gartype_CP,gartype_Det,gartype_None,gartype_att/CP,gartype_det/CP,arcstyle_BI-LEVEL,arcstyle_CONVERSIONS,arcstyle_END UNIT,arcstyle_MIDDLE UNIT,arcstyle_ONE AND HALF-STORY,arcstyle_ONE-STORY,arcstyle_SPLIT LEVEL,arcstyle_THREE-STORY,arcstyle_TRI-LEVEL,arcstyle_TRI-LEVEL WITH BASEMENT,arcstyle_TWO AND HALF-STORY,arcstyle_TWO-STORY,qualified_Q,qualified_U,status_I,status_V,before1980
0,1130,1346,0,0,2004,1,2,2,2,2,100000,0,100000,100000,2,2012,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0
1,1130,1249,0,0,2005,1,1,1,2,2,94700,0,94700,94700,4,2011,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0
2,1130,1346,0,0,2005,1,2,1,2,2,89500,0,89500,89500,10,2010,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0
3,1130,1146,0,0,2005,1,1,0,2,2,92000,3220,88780,88780,10,2011,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0
4,1130,1249,0,0,2005,1,1,1,2,2,74199,0,74199,74199,3,2012,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22908,1130,955,0,0,1998,1,1,0,2,2,128000,0,128000,128000,2,2012,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0
22909,1130,955,0,0,1998,1,1,0,2,2,121500,0,121500,121500,11,2011,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0
22910,1130,955,0,0,1998,1,1,0,2,2,74229,0,74229,74229,6,2011,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0
22911,1130,1219,0,0,1998,1,1,0,3,2,116150,0,116150,116150,6,2011,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0
22912,1130,1041,0,0,1998,1,1,0,2,2,130000,1000,129000,129000,5,2011,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0

In [29]:
# arcstyle_ONE-STORY'
dwell_ml[['arcstyle_ONE-STORY', 'before1980']].corr()

                    arcstyle_ONE-STORY  before1980
arcstyle_ONE-STORY            1.000000    0.499333
before1980                    0.499333    1.000000

In [30]:
# numbaths
dwell_ml[['numbaths', 'before1980']].corr()

            numbaths  before1980
numbaths    1.000000   -0.437043
before1980 -0.437043    1.000000

In [31]:
# livearea
dwell_ml[['livearea', 'before1980']].corr()

            livearea  before1980
livearea    1.000000   -0.362384
before1980 -0.362384    1.000000