In [4]:
# Importing
import pandas as pd
import altair as alt
import numpy as np

from IPython.display import Markdown
from IPython.display import display
from tabulate import tabulate
import sqlite3

In [5]:
# Load Dataset
con = sqlite3.connect("lahmansbaseballdb.sqlite")

In [6]:
# SQL Query
sql = """

"""

df = pd.read_sql_query(sql, con)
print(df.shape)
df

TypeError: 'NoneType' object is not iterable

In [45]:
# Results

Empty DataFrame
Columns: [playerID, schoolID, salary, yearID, teamID]
Index: []