In [1]:
# Importing
import pandas as pd
import altair as alt
import numpy as np

from IPython.display import Markdown
from IPython.display import display
from tabulate import tabulate
import sqlite3

pd.set_option('display.max_rows', 200)

In [2]:
# Load Dataset
con = sqlite3.connect("lahmansbaseballdb.sqlite")
# Yankees and the BOS

In [3]:
sql = """
SELECT 
    t.teamID, 
    s.round, 
    s.teamIDwinner, 
    count_ws.wins
FROM
    teams AS t
JOIN seriespost AS s ON t.teamID = s.teamIDwinner
JOIN (
    SELECT 
        teamIDwinner,
        COUNT(*) AS wins
    FROM
        seriespost
    WHERE
        round = "WS"
    GROUP BY
        teamIDwinner
) AS count_ws ON s.teamIDwinner = count_ws.teamIDwinner
WHERE 
    s.round = "WS" 
    AND (t.teamID = "NYA" OR t.teamID = "BOS")
GROUP BY 
    t.teamID;

"""

df = pd.read_sql_query(sql, con)
print(df.shape)
df

(2, 4)

  teamID round teamIDwinner  wins
0    BOS    WS          BOS     9
1    NYA    WS          NYA    27

In [4]:
sql2 = """
SELECT 
    t.teamID, 
    s.round, 
    s.teamIDwinner, 
    count_ws.wins
FROM
    teams AS t
JOIN seriespost AS s ON t.teamID = s.teamIDwinner
JOIN (
    SELECT 
        teamIDwinner,
        COUNT(*) AS wins
    FROM
        seriespost
    WHERE
        round = "WS"
    GROUP BY
        teamIDwinner
) AS count_ws ON s.teamIDwinner = count_ws.teamIDwinner
WHERE 
    s.round = "WS" 
GROUP BY 
    t.teamID;

"""

df2 = pd.read_sql_query(sql2, con)
print(df.shape)
df2

(2, 4)

   teamID round teamIDwinner  wins
0     ANA    WS          ANA     1
1     ARI    WS          ARI     1
2     ATL    WS          ATL     1
3     BAL    WS          BAL     3
4     BOS    WS          BOS     9
5     BRO    WS          BRO     2
6     BSN    WS          BSN     1
7     CHA    WS          CHA     3
8     CHN    WS          CHN     4
9     CIN    WS          CIN     5
10    CLE    WS          CLE     2
11    DET    WS          DET     4
12    DTN    WS          DTN     1
13    FLO    WS          FLO     2
14    HOU    WS          HOU     1
15    KCA    WS          KCA     2
16    LAN    WS          LAN     5
17    MIN    WS          MIN     2
18    ML1    WS          ML1     1
19    NY1    WS          NY1     7
20    NYA    WS          NYA    27
21    NYN    WS          NYN     2
22    OAK    WS          OAK     4
23    PHA    WS          PHA     5
24    PHI    WS          PHI     2
25    PIT    WS          PIT     5
26    PRO    WS          PRO     1
27    SFN    WS          SFN     3
28    SL4    WS          SL4     1
29    SLN    WS          SLN    11
30    TOR    WS          TOR     2
31    WAS    WS          WAS     1
32    WS1    WS          WS1     1

In [15]:


sql3 = """
SELECT 
    tf.franchName as Franchise_Name,
    t.teamID as Key, 
    s.round, 
    s.teamIDwinner, 
    count_ws.wins
FROM
    teams AS t
JOIN teamsfranchises AS tf on t.franchID = tf.franchID
JOIN seriespost AS s ON t.teamID = s.teamIDwinner
JOIN (
    SELECT 
        teamIDwinner,
        COUNT(*) AS wins
    FROM
        seriespost
    WHERE
        round = "WS"
    GROUP BY
        teamIDwinner
) AS count_ws ON s.teamIDwinner = count_ws.teamIDwinner
WHERE 
    s.round = "WS" 
GROUP BY 
    t.teamID;
"""

df3 = pd.read_sql_query(sql3, con)

df3 = df3.filter(['Franchise_Name', 'Key'])

df3

                   Franchise_Name  Key
0   Los Angeles Angels of Anaheim  ANA
1            Arizona Diamondbacks  ARI
2                  Atlanta Braves  ATL
3               Baltimore Orioles  BAL
4                  Boston Red Sox  BOS
5             Los Angeles Dodgers  BRO
6                  Atlanta Braves  BSN
7               Chicago White Sox  CHA
8                    Chicago Cubs  CHN
9                 Cincinnati Reds  CIN
10              Cleveland Indians  CLE
11                 Detroit Tigers  DET
12             Detroit Wolverines  DTN
13                Florida Marlins  FLO
14                 Houston Astros  HOU
15             Kansas City Royals  KCA
16            Los Angeles Dodgers  LAN
17                Minnesota Twins  MIN
18                 Atlanta Braves  ML1
19           San Francisco Giants  NY1
20               New York Yankees  NYA
21                  New York Mets  NYN
22              Oakland Athletics  OAK
23              Oakland Athletics  PHA
24          Philadelphia Phillies  PHI
25             Pittsburgh Pirates  PIT
26               Providence Grays  PRO
27           San Francisco Giants  SFN
28            St. Louis Cardinals  SL4
29            St. Louis Cardinals  SLN
30              Toronto Blue Jays  TOR
31            Washington Senators  WAS
32                Minnesota Twins  WS1

In [6]:
custom_color_scheme = alt.Scale(domain=['BOS','NYA'], range=[ "#dc3545","#007bff"])

graph = (
    alt.Chart(df, title="Total World Series Wins for the Boston Red Sox and the New York Yankees")
    .mark_bar()
    .encode(
        x=alt.X("teamID:O", axis=alt.Axis(title="Team")),
        y=alt.Y("wins:Q", axis=alt.Axis(title="Wins")),
        color=alt.Color("teamID", scale=custom_color_scheme),
        tooltip=[alt.Tooltip("teamID"), alt.Tooltip("wins")]
    )
    .configure_view(width=400)
    .configure_axis(labelFontSize=12, titleFontSize=14)
)

graph

alt.Chart(...)

In [7]:

graph = (
    alt.Chart(df2, title="Total World Series Wins By Team")
    .mark_bar()
    .encode(
        x=alt.X("teamID:O", axis=alt.Axis(title="Team")),
        y=alt.Y("wins:Q", axis=alt.Axis(title="Wins")),
        color=alt.Color("teamID", legend=None),
        tooltip=[alt.Tooltip("teamID"), alt.Tooltip("wins")]
    )
    .configure_view(width=400)
    .configure_axis(labelFontSize=12, titleFontSize=14)
)

graph

alt.Chart(...)